@media screen and (max-height: 1800px) {
  body {
  -ms-transform: scale(1,,1); 
  -webkit-transform: scale(,1,,1);
      transform: scale(1,1);
  }

@media screen and (max-height: 1200px) {
  body {
  -ms-transform: scale(1,1); 
  -webkit-transform: scale(1,1);
      transform: scale(1,1);
  }

@media screen and (max-height: 910px) {
  body {
  -ms-transform: scale(0.8,0.8); 
  -webkit-transform: scale(0.8,0.8);
  transform: scale(0.8,0.8);
  }

@media screen and (max-height: 720px) {
  body {
  -ms-transform: scale(0.7,0.7); 
  -webkit-transform: scale(0.7,0.7);
      transform: scale(0.7);
  }
      
@media screen and (max-height: 630px) {
  body {
  -ms-transform: scale(0.5,0.5); 
  -webkit-transform: scale(0.5,0.5);
      transform: scale(0.5,0.5);
  }
}

body {
  width: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(back.png);
}
.logo, .ylogo, .medive, .traco, .traco2 {
  text-align: center;
  margin: auto;
}
.logo {
  width: 100%;
}
.ylogo, .traco, .traco2 {
  width: 50%;
}
.medive {
  width: 89%;
}
.logo, .medive{
  max-width: 100%
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.logo:hover, .medive:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.ylogo:hover {
  filter: invert(100%);
}
